
<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="add_admin_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title centered">Add Administrator</h4>
      </div>
      <div class="modal-body">
        <h1 class="centered"> <i class="fa fa-plus-circle fa-3x"></i> </h1>
        <form class="" action="" method="post">
          <input type="text" name="username" placeholder="Username" autocomplete="off" class="form-control placeholder-no-fix">
          <br>
          <input type="email" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
          <br>
          <input type="password" name="password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix">
          <br>
          <input type="password" name="password" placeholder="Confirm Password" autocomplete="off" class="form-control placeholder-no-fix">
          <br>
          <div class="modal-footer centered">
            <button class="btn btn-theme03" type="button">Add</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- modal -->
