<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'customer/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'customer/assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'customer/assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'customer/assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'customer/assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'customer/assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'customer/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'customer/assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'customer/assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <title>Credicorpbank</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="">
                 <img src="{% static 'customer/assets/images/logo.jpg' %}" style="width: 30%; height: 10%; " alt="logo" >
             </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                              {% block printbtn %}
                              {% endblock %}
                                <!-- <input class="form-control" type="text" placeholder="Search.."> -->
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'customer/assets/images/avatar-1.jpg' %}" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{request.user.username}} </h5>
                                    <!-- <span class="status"></span><span class="ml-2">Available</span> -->
                                </div>
                                <!-- <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a> -->
                                <!-- <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a> -->
                                <a class="dropdown-item" href="{% url 'userauth:customer_logout' %}"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="{% url 'customer:index' %}">My Account</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link {% block page_index_active%}{% endblock %}" href="{% url 'customer:index' %}"><i class="fa fa-fw fa-user-circle"></i>My Account <span class="badge badge-success">6</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block page_transaction_active%}{% endblock %}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3" href="#"><i class="fas fa-fw fa-exchange-alt"></i>My Transactions</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                      <li class="nav-item">
                                          <a class="nav-link {% block page_international__active%}{% endblock %}" href="{% url 'customer:maketransactions' %}"><i class="mdi mdi-arrow-top-right"></i>Transfer Money</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link {% block page_view__active%}{% endblock %}" href="{% url 'customer:viewpending' %}"><i class="mdi mdi-eye"></i>Transaction History</a>
                                      </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'customer:transactionstatements' %}"><i class="mdi mdi-file-multiple"></i>My Statements</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fas fa-fw fa-exchange-alt"></i>My Transactions</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-3" aria-controls="submenu-1-3"><i class="mdi mdi-eye"></i>View Transactions</a>
                                            <div id="submenu-1-3" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="">Confirmed</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
          {% block body %}
          {% endblock %}
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'customer/assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'customer/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'customer/assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'customer/assets/libs/js/main-js.js' %}"></script>
    <!-- chart chartist js -->
    <script src="{% static 'customer/assets/vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <!-- sparkline js -->
    <script src="{% static 'customer/assets/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
    <!-- morris js -->
    <script src="{% static 'customer/assets/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
    <script src="{% static 'customer/assets/vendor/charts/morris-bundle/morris.js' %}"></script>
    <!-- chart c3 js -->
    <script src="{% static 'customer/assets/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static 'customer/assets/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <script src="{% static 'customer/assets/vendor/charts/c3charts/C3chartjs.js' %}"></script>
    <script src="{% static 'customer/assets/libs/js/dashboard-ecommerce.js' %}"></script>
    <script type="text/javascript">
    var amount_carriers = document.getElementsByClassName('amount_carrier')
    for (var i=0;i<amount_carriers.length;i++){
        amount_carriers[i].innerHTML = parseInt(amount_carriers[i].innerHTML).toLocaleString('en',{style:'currency',currency:'USD'})
      }

    </script>
</body>

</html>
