{% extends 'customer/basetemplate.html' %}

{% block page_index_active %}active{% endblock %}

{% block body %}

{% load staticfiles %}

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Customer Dashboard</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item "><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Home</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
          {% include 'userauth/partials/partialmessage.html' %}
            <div class="row">
                <!-- ============================================================== -->
                <!-- sales  -->
                <!-- ============================================================== -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-md-offset-3 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h5 class="text-muted">Available Amount</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">${{available_amount}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end sales  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
            </div>
            <div class="row">
              <!-- recent pending  -->
              <!-- ============================================================== -->
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
                  <div class="card">
                      <h5 class="card-header">Recent Pending Transactions</h5>
                      <div class="card-body p-0">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class="bg-light">
                                      <tr class="border-0">
                                          <th class="border-0">#</th>
                                          <th class="border-0">Bank Name</th>
                                          <th class="border-0">Country</th>
                                          <th class="border-0">Account Name</th>
                                          <th class="border-0">Account Number</th>
                                          <th class="border-0">Amount</th>
                                          <th class="border-0">Initialized On</th>
                                          <!-- <th class="border-0">Order Time</th>
                                          <th class="border-0">Customer</th> -->
                                          <th class="border-0">Status</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for pending_transaction in pending_transactions %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>
                                          {{pending_transaction.bank_name}}
                                        </td>
                                        <td>{{pending_transaction.country}}</td>
                                        <td>{{pending_transaction.account_name}} </td>
                                        <td>{{pending_transaction.account_number}}</td>
                                        <td>${{pending_transaction.amount}}</td>
                                        <td>{{pending_transaction.initialized_on}}</td>
                                        <td><span class="badge-dot badge-brand mr-1"></span>{{pending_transaction.status}}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="8">No transactions records yet</td>
                                    </tr>
                                    {% endfor %}
                                    {% if pending_transactions.length > 0 %}
                                    <tr>
                                        <td colspan="9"><a href="{% url 'customer:viewpending' %}" class="btn btn-outline-light float-right">View All</a></td>
                                    </tr>
                                    {% endif %}
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- ============================================================== -->
<!-- end recent deposits  -->
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
    <div class="card">
        <h5 class="card-header">Recent Deposits</h5>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0">#</th>
                            <th class="border-0">Amount</th>
                            <th class="border-0">Initialized On</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for deposit in deposits %}
                      <tr>
                          <td>{{forloop.counter}}</td>
                          <td>${{deposit.amount}}</td>
                          <td>{{deposit.initialized_on}}</td>
                      </tr>
                      {% empty %}
                      <tr>
                          <td colspan="3">No deposit records yet</td>
                      </tr>
                      {% endfor %}
                      {% if deposits.length > 0 %}
                      <tr>
                          <td colspan="3"><a href="#" class="btn btn-outline-light float-right">View All</a></td>
                      </tr>
                      {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
