{% extends 'customer/basetemplate.html' %}
{% block body %}
<div class="float-right">
       <button class="btn btn-rounded btn-danger" id="print_button">print</button>
</div>
<div id="printable" class="container-fluid">
    <aside class="page-aside">
        <div class="aside-content">
            <div class="aside-header">
                <button class="navbar-toggle" data-target=".aside-nav" data-toggle="collapse" type="button"><span class="icon"><i class="fas fa-caret-down"></i></span></button><span class="title">Credicopbank</span>
                <p class="description" >{{request.user.account.account_name}}</p>
                <p class="description" >{{request.user.account.account_number}}</p>
                <p class="description" >{{request.user.account.account_type}}</p>
                <p class="description">
                  <script>
                    document.write(new Date())
                  </script>
                 </p>
                <p class="description">Transactions Statement</p>
            </div>

        </div>
    </aside>
    <div class="main-content container-fluid p-0">
      <div class="row">
        <!-- recent pending  -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <h5 class="card-header">Statement</h5>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-light">
                                <tr class="border-0">
                                    <th class="border-0">#</th>
                                    <th class="border-0">Date</th>
                                    <th class="border-0">Details</th>
                                    <th class="border-0">Credit</th>
                                    <th class="border-0">Debit</th>
                                    <th class="border-0">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for deposit_transaction in deposit_transactions %}
                              <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td>
                                    {{deposit_transaction.created_on}}
                                  </td>
                                  <td>Deposit</td>
                                  <td>${{deposit_transaction.amount}}</td>
                                  <td>   -  </td>
                                  <td>{{deposit_transaction.account_balance_on_deposit}}</td>
                                  <td></td>
                              </tr>
                              {% empty %}
                              <tr>
                                  <td colspan="8">No transactions records yet</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
    <!-- end recent pending  -->

      </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script type="text/javascript">

let doc = new jsPDF('p','pt','a4')
document.getElementById('print_button').addEventListener('click',function(){
  console.log("print out function");
  doc.addHTML(document.getElementById('printable'),function() {
      doc.save('Mystatement.pdf');
})

});

</script>
{% endblock %}
