{% extends 'customer/basetemplate.html' %}
{% block page_transaction_active%} active {% endblock %}
{% block page_view__active%}active{% endblock %}

{% block body %}

<div class="container-fluid dashboard-content">

  <div class="row">
    <!-- recent pending  -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <h5 class="card-header">Transactions</h5>
            <div class="card-body p-0">
                <div class="table-responsive">
                  {% if pending_transactions %}
                  <table class="table">
                      <thead class="bg-light">
                          <tr class="border-0">
                              <th class="border-0">#</th>
                              <th class="border-0">Bank Name</th>
                              <th class="border-0">Country</th>
                              <th class="border-0">Account Name</th>
                              <th class="border-0">Account Number</th>
                              <th class="border-0">Amount</th>
                              <th class="border-0">Initialized On</th>
                              <!-- <th class="border-0">Order Time</th>
                              <th class="border-0">Customer</th> -->
                              <th class="border-0">Status</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for pending_transaction in pending_transactions %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>
                              {{pending_transaction.bank_name}}
                            </td>
                            <td>{{pending_transaction.country}}</td>
                            <td>{{pending_transaction.to_account_name}} </td>
                            <td>{{pending_transaction.to_account_number}}</td>
                            <td class="amount_carrier" >{{pending_transaction.amount}}</td>
                            <td>{{pending_transaction.initialized_on}}</td>
                            <td><span class="badge-dot badge-brand mr-1"></span>{{pending_transaction.status}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  {% else %}

                  <div class="alert alert-warning fade show" role="alert">
                    <strong>
                      No Transaction records yet
                    </strong>
                  </div>

                  {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
<!-- end recent pending  -->

  </div>

</div>


{% endblock%}
