
{% extends 'sysadmin/base.html' %}

{% block dashboard_active %} active {% endblock %}

{% block body%}

<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    {% include 'sysadmin/partials/partialmessage.html' %}
    <div class="row">
      <div class="col-lg-9 main-chart">
        <!--CUSTOM CHART START -->
        <div class="border-head">
          <h3>Registered Customers(annual analysis)</h3>
        </div>
        <div class="custom-bar-chart">
          <ul class="y-axis">
            <li><span>10.000</span></li>
            <li><span>8.000</span></li>
            <li><span>6.000</span></li>
            <li><span>4.000</span></li>
            <li><span>2.000</span></li>
            <li><span>0</span></li>
          </ul>
          <div class="bar">
            <div class="title">JAN</div>
            <div class="value tooltips" data-original-title="000" data-toggle="tooltip" data-placement="top">0%</div>
          </div>
          <div class="bar ">
            <div class="title">FEB</div>
            <div class="value tooltips" data-original-title="0000" data-toggle="tooltip" data-placement="top">0%</div>
          </div>
          <div class="bar ">
            <div class="title">MAR</div>
            <div class="value tooltips" data-original-title="0" data-toggle="tooltip" data-placement="top">0%</div>
          </div>
          <div class="bar ">
            <div class="title">APR</div>
            <div class="value tooltips" data-original-title="0" data-toggle="tooltip" data-placement="top">0%</div>
          </div>
          <div class="bar">
            <div class="title">MAY</div>
            <div class="value tooltips" data-original-title="0" data-toggle="tooltip" data-placement="top">0%</div>
          </div>
          <div class="bar ">
            <div class="title">JUN</div>
            <div class="value tooltips" data-original-title="0" data-toggle="tooltip" data-placement="top">0%</div>
          </div>
          <div class="bar">
            <div class="title">JUL</div>
            <div class="value tooltips" data-original-title="0" data-toggle="tooltip" data-placement="top">0%</div>
          </div>
        </div>
        <!--custom chart end-->
        <div class="row mt">
          <!-- SERVER STATUS PANELS -->
          <div class="col-md-4 col-sm-4 mb">
            <div class="grey-panel pn donut-chart">
              <div class="grey-header">
                <h5>TOTAL DEPOSITS</h5>
              </div>
              <div class="row">
                <div class="col-sm-3 col-xs-6 goleft">
                  <p>Amount:</p>
                </div><br>
                <div class="col-sm-12 centered col-xs-9">
                  <h2>$200,000</h2>
                </div>
              </div>
            </div>
            <!-- /grey-panel -->
          </div>
          <!-- /col-md-4-->
          <div class="col-md-4 col-sm-4 mb">
            <div class="darkblue-panel pn">
              <div class="darkblue-header">
                <h5>CUSTOMERS</h5>
              </div>
              <h1 class="mt"><i class="fa fa-users fa-3x"></i></h1>
              <p> <h1>
                200,000
              </h1></p>
            </div>
            <!--  /darkblue panel -->
          </div>
          <!-- /col-md-4 -->
          <div class="col-md-4 col-sm-4 mb">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn">
              <div class="green-header">
                <h5>TRANSACTIONS BY CUSTOMERS</h5>
              </div>
              <div class="chart mt">
                <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
              </div>
              <p class="mt"><b> <h1>5400</h1> </b></p>
            </div>
          </div>
          <!-- /col-md-4 -->
        </div>
        <!-- /row -->
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> Pending transactions</h4>
                <!-- <div class="pull-right"> -->
                <p>
                  <a href="{% url 'sysadmin:alltransactions' %}" class="btn btn-xs pull-right">
                    <i class="fa fa-eye"></i>
                    view all transactions
                  </a>
                </p><br>

                <!-- </div> -->
                <hr>
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i>Account Name</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>Account No.</th>
                    <th><i class="fa fa-calendar"></i> Initialized on</th>
                    <th><i class=" fa fa-bookmark"></i>Amount</th>
                    <th><i class=" fa fa-edit"></i>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="basic_table.html#">Company Ltd</a>
                    </td>
                    <td class="hidden-phone">1200309900933</td>
                    <td>March,23,2019 </td>
                    <td>12000.00$ </td>
                    <td><span class="label label-info label-mini">pending</span></td>
                    <td>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-retweet"></i> reverse</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="basic_table.html#">Company Ltd</a>
                    </td>
                    <td class="hidden-phone">1200309900933</td>
                    <td>March,23,2019 </td>
                    <td>12000.00$ </td>
                    <td><span class="label label-info label-mini">pending</span></td>
                    <td>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-retweet"></i> reverse</button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="basic_table.html#">Company Ltd</a>
                    </td>
                    <td class="hidden-phone">1200309900933</td>
                    <td>March,23,2019 </td>
                    <td>12000.00$ </td>
                    <td><span class="label label-info label-mini">pending</span></td>
                    <td>
                      <button class="btn btn-danger btn-xs"><i class="fa fa-retweet"></i> reverse</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
        <!-- /row -->
      </div>
      <!-- /col-lg-9 END SECTION MIDDLE -->
      <!-- **********************************************************************************************************************************************************
          RIGHT SIDEBAR CONTENT
          *********************************************************************************************************************************************************** -->
      <div class="col-lg-3 ds">

        <!--NEW EARNING STATS -->
        <div class="panel terques-chart">
          <div class="panel-body">
            <div class="chart">
              <div class="centered">
                <span>Admin Panel</span>
              </div>
              <br>
              <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"></div>
            </div>
          </div>
        </div>
        <!--new earning end-->
        <!-- RECENT ACTIVITIES SECTION -->
        <h4 class="centered mt">ACTIVITY</h4>
        <!-- First Activity -->
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-plus"></i></span>
          </div>
          <div class="details">
            <a data-toggle="modal" href="#add_admin_modal">
                  add new admin
            </a>
            </div>
        </div>
        <!-- Second Activity -->
        <div class="desc">
          <div class="thumb">
            <span class="badge bg-theme"><i class="fa fa-plus-circle"></i></span>
          </div>
          <div class="details">
              <a href="{% url 'sysadmin:add_customer' %}">
                add new customer
              </a>
          </div>
        </div>
        <br>
        <!-- CALENDAR-->
        <div id="calendar" class="mb">
          <div class="panel green-panel no-margin">
            <div class="panel-body">
              <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                <div class="arrow"></div>
                <h3 class="popover-title" style="disadding: none;"></h3>
                <div id="date-popover-content" class="popover-content"></div>
              </div>
              <div id="my-calendar"></div>
            </div>
          </div>
        </div>
        <!-- / calendar -->
      </div>
      <!-- /col-lg-3 -->
    </div>
    <!-- /row -->
    {% include 'sysadmin/modals/add_admin_modal.html' %}

  </section>
</section>
<!--main content end-->

{% endblock %}
