{% extends 'sysadmin/base.html' %}
{% block accounts_active %}
active
{% endblock %}
{% block page_style%}

{% load staticfiles %}
<link href="{% static 'sysadmin/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
<link href="{% static 'sysadmin/lib/advanced-datatable/css/demo_page.css' %}" rel="stylesheet" />
<link href="{% static 'sysadmin/lib/advanced-datatable/css/demo_table.css'%}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'sysadmin/lib/advanced-datatable/css/DT_bootstrap.css' %}" />

{%endblock %}

{% block page_script %}
{% load staticfiles %}

  <script type="text/javascript" language="javascript" src="{% static 'sysadmin/lib/advanced-datatable/js/jquery.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static 'sysadmin/lib/advanced-datatable/js/jquery.dataTables.js'%}"></script>
  <script type="text/javascript" src="{% static 'sysadmin/lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
<script type="text/javascript">
  /* Formating function for row details */
  function fnFormatDetails(oTable, nTr) {
    var aData = oTable.fnGetData(nTr);
    var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
    sOut += '<tr><td>Account Name:</td><td>' + aData[1] + ' ' + aData[2]+' '+aData[3] + '</td></tr>';
    // sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
    // sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
    sOut += '</table>';

    return sOut;
  }

  $(document).ready(function() {
    /*
     * Insert a 'details' column to the table
     */
    var nCloneTh = document.createElement('th');
    var nCloneTd = document.createElement('td');
    nCloneTd.innerHTML = '<img src="{% static "sysadmin/lib/advanced-datatable/images/details_open.png" %}">';
    nCloneTd.className = "center";

    $('#hidden-table-info thead tr').each(function() {
      this.insertBefore(nCloneTh, this.childNodes[0]);
    });

    $('#hidden-table-info tbody tr').each(function() {
      this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
    });

    /*
     * Initialse DataTables, with no sorting on the 'details' column
     */
    var oTable = $('#hidden-table-info').dataTable({
      "aoColumnDefs": [{
        "bSortable": false,
        "aTargets": [0]
      }],
      "aaSorting": [
        [1, 'asc']
      ]
    });

    /* Add event listener for opening and closing details
     * Note that the indicator for showing which row is open is not controlled by DataTables,
     * rather it is done here
     */
    $('#hidden-table-info tbody td img').live('click', function() {
      var nTr = $(this).parents('tr')[0];
      if (oTable.fnIsOpen(nTr)) {
        /* This row is already open - close it */
        this.src = "{% static 'sysadmin/lib/advanced-datatable/images/details_open.png' %}";
        oTable.fnClose(nTr);
      } else {
        /* Open this row */
        this.src = "{% static 'sysadmin/lib/advanced-datatable/images/details_close.png' %}";
        oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
      }
    });
  });
</script>

{% endblock %}

{% block body %}



<!--main content start-->
<section id="main-content">
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> <a href="{% url 'sysadmin:add_customer' %}">
      <i class="fa fa-plus" ></i>
      Add new customer
    </a> </h3>
      <div class="row mb">
        <!-- page start-->
        <div class="content-panel">
          <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
              <thead>
                <tr>
                  <th>Last Name</th>
                  <th>Middle name</th>
                  <th>First Name</th>
                  <th>Email</th>
                  <th class="hidden-phone">Account Type</th>
                  <th class="hidden-phone">Account Name</th>
                  <th class="hidden-phone">Account No.</th>
                  <th class="hidden-phone">Available Amount</th>
                </tr>
              </thead>
              <tbody>
                {% for customer in customers %}
                <tr class="gradeA">
                  <td>{{customer.customer.profile.lastname}}</td>
                  <td>
                    {% if customer.customer.profile.middlename is not 'null'%}
                    {{customer.customer.profile.middlename}}
                    {%else%}
                    ""
                    {%endif%}
                  </td>
                  <td>{{customer.customer.profile.firstname}}</td>
                  <td>{{customer.customer.email}}</td>
                  <td class="hidden-phone">{{customer.account_type}}</td>
                  <td class="center hidden-phone">{{customer.account_name}}</td>
                  <td class="center hidden-phone">{{customer.account_number}}</td>
                  <td class="center hidden-phone">{{customer.available_amount}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- page end-->
      </div>
      <!-- /row -->
  </section>
  <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->



{% endblock%}
